Question 1) What value is displayed when the last expression (a) is evaluated? Explain your 
answer by indicating what happens in every executed statement.

In [253]:
# variable a is assigned the value 0
a = 0
# Function named b is defined
def b():
# variabe a is declared as global. 
 global a
# a variable is assigned value
 a = c(a)
# Function named c is defined.
def c(a):
# return the value
 return a + 2

# b function is called. Here the value of b will be 2 as initial a + 2 will be 0+ 2 = 2
b()
# b function is called. Here the value of b will b 4 as the new value 2 is added with 2, 2+ 2 = 4
b()
# b function is called. Finally the value of b will be 6, as the new value 4 is added with 2 , 4 + 2 = 6
b()
# Final value stored in a will be 6
a

6

Question 2) Function fileLength(), given to you, takes the name of a file as input and returns 
the length of the file:
Modify function fileLength() so that a 
friendly message is printed instead:

In [247]:
def filelength(item):
 # Here the file item is searched and if found it will return the length. Try clause is used
    try:                  
        item = open(item)
        # File contents are read
        file = item.read()
        item.close()
        # Length of the file contents are printed
        print(len(file))
        
 # If the provided file is not found, then the error message with file not found is printed. Except clause is used
    
    except:                       
        print('File {} not found.'.format(item))
        print ("\n")

In [12]:
filelength('Filelength.txt')

123

In [248]:
filelength('lelength.txt')

File lelength.txt not found.

Question 3) Write a class named Marsupial that can be used as shown below:
>>> m = Marsupial()
>>> m.put_in_pouch('doll')
>>> m.put_in_pouch('firetruck')
>>> m.put_in_pouch('kitten')
>>> m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [15]:
class Marsupial:
    #Constructor usage
    def __init__(main):
        main.animal = []

    #Adding to the list
    def put_in_pouch(main, items):
        main.animal.append(items)

    #Returning the List
    def pouch_contents(main):
        return main.animal

m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())

['doll', 'firetruck', 'kitten']

In [254]:
class Marsupial:
    #Constructor usage
    def __init__(main):
        main.animal = []

    #Adding to the list
    def put_in_pouch(main, items):
        main.animal.append(items)

    #Returning the List
    def pouch_contents(main):
        return main.animal


class Kangaroo(Marsupial):

    # a, Extending Constructor usage
    def __init__(main, x, y):
        Marsupial.__init__(main)
        main.x = x
        main.y = y

    # b, Supporting Method Jump
    def jump(main, dx, dy):
        main.x = main.x + dx
        main.y = main.y + dy

    #c, Overloading the Str operator
    def __str__(main):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(main.x, main.y)


k = Kangaroo(0, 0)
print(k)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())
k.jump(1, 0)
k.jump(1, 0)
k.jump(1, 0)
print(k)
print ("\n")

I am a Kangaroo located at coordinates (0,0)
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (3,0)

Question 4) Write function collatz() that takes a positive integer x as input and prints the 
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying 
this rule to the previous number x in the sequence:

In [255]:
def collatz(num): 
    ary= []; 
    while num > 1:
        ary.append(num); 
        
        if (num % 2): 
# Considering number is odd
            num = 3 * num + 1
        else: 
# Considering number is even
             num = num//2   
    ary.append(1);
    return ary; 
    
print(collatz(1))    
print(collatz(10)) 
print ("\n")

[1]
[10, 5, 16, 8, 4, 2, 1]

Question 5) Write a recursive method binary() that takes a non-negative 
integer n and prints the binary representation of integer n.

In [146]:
# Defining method Binary taking a non-negative integer
def binary(intgr):
    if intgr == 0:
        return "0"
    else:
        binary(intgr // 2)
        print(str(intgr % 2), end= "")

print(binary(0), "\n")
binary(1)
print ("\n")
binary(3)
print ("\n")
binary(9)
print ("\n")

0

1

11

1001

Question 6) Implement a class named HeadingParser that can be used to parse an HTML 
document, and retrieve and print all the headings in the document. You should 
implement your class as a subclass of HTMLParser, defined in Standard Library 
module html.parser.

In [147]:
#Standar library module html.parser is defined and library is imported
from html.parser import HTMLParser            

file = open(r'w3c.html')     
text=str(file.read())

# Implementing class named HeadingParser as subclass of HTMLParser
class HeadingParser(HTMLParser):         
  
    def __init__(main):                    
        HTMLParser.__init__(main)
        main.flag = 0 
    
    def handle_starttag(self, tags, attribute):                     
        
        if tags == 'h1' or tags == 'h2' or tags == 'h3' or tags == 'h4' or tags =='h5' or tags == 'h6' or tags == 'h7':
            self.flag = self.flag + 1                                     
        else:
            self.flag = 0
            
#Printing the heading of the HTML
    def handle_data(heading, data):            
        if heading.flag and data!='\n':
            
            print('{} {} '.format(heading.flag*' ', data))


parser = HeadingParser()                          
parser.feed(text)

  W3C Mission


   Principles

Question 7) Implement recursive function webdir() that takes as input: a URL (as a string) and 
non-negative integers depth and indent. Your function should visit every web 
page reachable from the starting URL web page in depth clicks or less, and print 
each web page's URL.

In [256]:
from urllib.request import urlopen
from urllib.parse import urljoin
from html.parser import HTMLParser

# Class for the Hyperlink
class Web(HTMLParser): 

# Defining the URL and the parser
    def __init__(main, url): 
        HTMLParser.__init__(main)
        main.url = url
        main.links = []

# Defining the  hyperlink URLs in the given format
    def handle_starttag(self, tags, attribute): 
        if tags == 'a':
            for attrs in attribute:
                if attrs[0] == 'href': # the URL of the page the link goes to
                    abs = urljoin(self.url, attrs[1])
                    if abs[:4] == 'http':
                        self.links.append(abs)
                        
#Hyperlink URL is returned

    def getLinks(self): 
        return self.links
    
def webdir(url,depth, indent):
    #Depending on depth Value the list of links is found using recrusive method
    
    try:
        d_val = int(depth)
        i_val = int(indent)
        
        if d_val < 0 or i_val < 0:      
            raise ValueError
            
        resource = urlopen(url)
        content = resource.read().decode()
        collector = Collector(url)
        collector.feed(content)
        links = collector.getLinks()              

        if i_val == 0:
            print('{}'.format(url))

        i_val = i_val + 4
        d_val = d_val-1
        
        # Looping of links
        if d_val >= 0:
            for link in links:                          
                print('{}{}'.format(i_val*' ', link), end = '\n')
                if (d_val) > 0: 
                    webdir(link, d_val, i_val)          
                
    except ValueError:
        print("Enter a correct value for depth or indent")
        
webdir('https://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)
print ("\n")

https://reed.cs.depaul.edu/lperkovic/test1.html
    http://reed.cs.depaul.edu/lperkovic/test2.html
        http://reed.cs.depaul.edu/lperkovic/test4.html
    https://reed.cs.depaul.edu/lperkovic/test3.html
        https://reed.cs.depaul.edu/lperkovic/test4.html

Question 8) Write SQL queries on the below database table that return: 
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records
e) The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

In [258]:
#Creating SQL Table and inserting the details
import sqlite3
con = sqlite3.connect('MinisDatafile.db')
cur = con.cursor()
cur.execute("CREATE TABLE t_tables (City text, Country text, Season text,Temperature float,Rainfall float)")
cur.execute("INSERT INTO t_tables VALUES ('Mumbai', 'India', 'Winter',24.8 ,5.9)")
cur.execute("INSERT INTO t_tables VALUES ('Mumbai', 'India', 'Spring',28.4 ,16.2)")
cur.execute("INSERT INTO t_tables VALUES ('Mumbai', 'India', 'Summer',27.9 ,1549.4 )")
cur.execute("INSERT INTO t_tables VALUES ('Mumbai', 'India', 'Fall',27.6 ,346.0)")
cur.execute("INSERT INTO t_tables VALUES ('London', 'United Kingdom', 'Winter',4.2 ,207.7 )")
cur.execute("INSERT INTO t_tables VALUES ('London', 'United Kingdom', 'Spring',8.3 ,169.6)")
cur.execute("INSERT INTO t_tables VALUES ('London', 'United Kingdom', 'Summer',15.7 ,157.0)")
cur.execute("INSERT INTO t_tables VALUES ('London', 'United Kingdom', 'Fall',10.4 ,218.5)")
cur.execute("INSERT INTO t_tables VALUES ('Cairo', 'Egypt', 'Winter',13.6 , 16.5)")
cur.execute("INSERT INTO t_tables VALUES ('Cairo', 'Egypt', 'Spring',20.7 ,6.5)")
cur.execute("INSERT INTO t_tables VALUES ('Cairo', 'Egypt', 'Summer',27.7 ,0.1)")
cur.execute("INSERT INTO t_tables VALUES ('Cairo', 'Egypt', 'Fall',22.2 ,4.5)")

In [260]:
cur.execute('SELECT * FROM t_tables')
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

a) All the temperature data.

In [239]:
cur.execute('SELECT temperature FROM t_tables')
cur.fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

b) All the cities, but without repetition

In [240]:
cur.execute('SELECT DISTINCT City FROM t_tables')
cur.fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

c)  All the records for India

In [241]:
cur.execute("SELECT * FROM t_tables WHERE Country='India'")
cur.fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

In [ ]:
d) All the Fall records.

In [242]:
cur.execute("SELECT * FROM t_tables WHERE Season='Fall'")
cur.fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e)  The city, country, and season for which the average rainfall is between 200 
and 400 millimeters.

In [243]:
cur.execute("SELECT City, Country, Season FROM t_tables WHERE Rainfall BETWEEN 200 AND 400")
cur.fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

f) The city and country for which the average Fall temperature is above 20 
degrees, in increasing temperature order.

In [244]:
cur.execute("SELECT City,country FROM t_tables WHERE Season='Fall' AND temperature > 20 ORDER BY temperature ASC")
cur.fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

g)  The total annual rainfall for Cairo.

In [245]:
cur.execute("SELECT SUM(Rainfall) FROM t_tables WHERE City='Cairo'")
cur.fetchall()

[(27.6,)]

h) The total rainfall for each season.

In [246]:
cur.execute("SELECT SUM(Rainfall) FROM t_tables GROUP BY Season")
cur.fetchall()

[(569.0,), (192.29999999999998,), (1706.5,), (230.1,)]

Question 9) Write list comprehension expressions that use list words and generate the following lists:

In [101]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
# For list A
ListA_Upper = [item.upper() for item in words]    
print(ListA_Upper)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [103]:
# For list B
ListB_Lower = [item.lower() for item in words]    
print(ListB_Lower)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [104]:
# For list C
ListC_Length = [len(item) for item in words]    
print(ListC_Length)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

In [106]:
# For List D
ListD_Total= [[item.upper(),item.lower(),len(item)] for item in words] 
print(ListD_Total)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

In [108]:
# For List E
ListE_Max = [item.lower() for item in words if len(item)>=4]         
print(ListE_Max)

['quick', 'brown', 'jumps', 'over', 'lazy']